main, .header-container{
    background-color: #fff;
}
#intro {
    min-height: 100%;
    background: url("../../../../assets/images/header.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    width: 1000px;
    height: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    
}

.header-container h2 {
    font-size: 35px;
}

.header-container h3 {
    font-size: 30px;
}

.sidebar {
    height: 60%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 6%;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 11;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 11;
  }
  
  .openbtn {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 6%;
    right: 0;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 50%;
    z-index: 3;
  }

  .openbtn img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .userImageContainer {
    width: 50px;
    height: 50px;
}

.userImageContainer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}
.coverPhotoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-image: url('../../../../assets/images/pic06.png');
    position: relative;
    
}