<div class="container">
    
      
    <div class = 'row m-10 w-100'>
        
        <div class = 'col-md-12' >
            <div class="pill">
                <button  class="pill-item {{showUser}}" (click)="userLogin()">{{userTitle}}</button>
                <button class="pill-item {{showCompany}}" (click)="companyLogin()" >{{companyTitle}}</button>
            </div>
            <h4 class="login-c-u"><i class="fas fa-tools"></i> {{text}} <i class="fas fa-tools"></i></h4>
            <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
                <div class="column">
                <div class = 'form-group'>
                    <input class = 'form-control' type = "text" name = "logUsername" placeholder = "{{placeHolder}}" ngModel>
                </div>
                <input [hidden]="true" class = 'form-control' type = "text" name = "logType"  ngModel="{{title}}">

                <div class = 'form-group'>
                    <input class = 'form-control' type = "password" name = "logPassword" placeholder = "Password" ngModel>
                </div>
            </div>
                <input class= 'btn btn-outline-info' type = "submit" value = "Login">
            
            </form>
        </div>
    </div>
        
    
</div>

