nav{ 
    background-color: #20241f;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    
}
nav a {
    float: left;
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 15px;
    
    
  }
.navbar-toggler{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-toggler-icon{
    color: #eeeeee;
    position: absolute;
    top: -5px;
    right: 5px;
    
    

}
  