<div class="container col-md-8">
    <div class="pill">
        <button class="pill-item {{showUser}}" (click)="userRegister()">User</button>
        <button class="pill-item {{showCompany}}" (click)="companyRegister()">Company</button>
      </div>
      
      <app-register [hidden]="showUser"></app-register>
      <app-company-register [hidden]="showCompany"></app-company-register>
    
</div >
<div class="quote-container col-4">
  <h3 class="quote d-md-none d-sm-none d-lg-block">{{quote}}</h3>
  <button type="button " class="btn login d-md-none d-sm-none d-lg-block" routerLink="/login">Login</button>
</div>
